<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}"
>
<head>
    <meta charset="UTF-8">
    <title>b</title>
</head>
<body>

<th:block layout:fragment="content">
    <div class="row">
        <form action="/category/register" method="post">
            카테고리명 : <input type="text" name="caname">
            <button>카테코리저장</button>
        </form>
    </div>
    <hr>

    <div class="row">
        <form action="/category/register" method="post">

            게시판 종류선택 :
            <select name="caid">
                  <th:block th:each="list: ${calist}">
                      <option th:value="${list.id}" th:text="${list.caname}"></option>
                  </th:block>
            </select>

            <br>

            게시판 제목 : <input type="text" name="title">
            <button>카테코리저장</button>
        </form>
    </div>

</th:block>



</body>
</html>